/node_modules

npm-debug.log

*.iml

.project
.settings

/browserVersion
/browser_version_npm

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

/src/parser/test/TCK2.ts
/src/parser/test/libraryExpansion.ts
/src/parser/test/TCK2-newFormat.ts
/src/parser/test/libraryExpansion-newFormat.ts
/src/parser/test/unfoldTypes.ts
/src/parser/test/unfoldTypesLibExpand.ts

!/src/devUtil/documentation/theme.js
!/src/parser/test/data/TypeExpansionTests/RAML-toolbelt-test/canonical_forms.js

/dist/
/standalone-typings/

/coverage
coverage.zip
/raml-1-parser
raml-1-parser.zip

/TCK