/node_modules

npm-debug.log

*.iml

.project
.settings

/browserVersion

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

/src/raml1/test/TCK2.ts

!/src/devUtil/documentation/theme.js

/typings/

/dist/