/*
!/dist

/dist/devUtil
/dist/browserVersionGenerator
/dist/parser/devTools
/dist/parser/test
/dist/search/test
/dist/topLevelGenerator

/documentation/*
!/documentation/images/
!/documentation/GettingStarted.md

/examples/*
!/examples/highlevel-AST-usage

!/resources
!/test
!/web-tools
!/package.json
!/README.md
!/license.txt
