#%RAML 1.0
title: Álainn Cosmetics Mobile Orders API
#baseUri: https://alainn-customer-mobile-v1.cloudhub.io/api
baseUri: https://ec2-52-201-242-128.compute-1.amazonaws.com/mocks/1201bcdf-f1a0-4eb3-a002-4f6f817d44cc/api
version: 1
mediaType: application/json
documentation:
  - !include docs/intro.raml
  - !include docs/security.raml
uses:
  res: modules/resource-types.raml
  tra: modules/traits.raml
  sec: modules/security.raml
  ano: modules/annotations.raml

securedBy: [sec.oauth_2_0]
types:
  ResourceLink:
    (ano.hypermedia-control):
      targetResource: testResource
    properties:
      href: string
      rel:
        enum: [self, next, prev]
      method?:
        default: get
  ImageLink:
    (ano.hypermedia-control):
      follow: true
      targetResource: External
    properties:
      href: string
      rel:
        enum: [SmallImage, MediumImage, LargeImage]
  Item:
    properties:
      id: string
      type?: string
      name: string
      summary?: string
      brand?: string
      links: (ResourceLink | ImageLink)[]
  Sku:
    type: Item
    properties:
      price: number
      sku: string
      stockQuantity: integer

  GetItemsResponse:
    properties:
      links: ResourceLink[]
      collection:
        properties:
          size: integer
          items: Item[]
    example:
      links:
        - href: https://alainn-customer-mobile-v1.cloudhub.io/api/items?pageIndex=30&pageSize=10
          rel: next
        - href: https://alainn-customer-mobile-v1.cloudhub.io/api/items?pageIndex=10&pageSize=10
          rel: prev
        - href: https://alainn-customer-mobile-v1.cloudhub.io/api/items?pageIndex=20&pageSize=10
          rel: self
      collection:
        size: 2
        items:
          - id: B003Y60XCC
            type: Chemical Hair Dyes
            name: L'Oreal Oreor 30 Volume Creme Developer
            brand: L'Oreal Paris
            links:
              - href: https://alainn-customer-mobile-v1.cloudhub.io/api/items/B003Y60XCC
                rel: self
              - href: http://ecx.images-amazon.com/images/I/41MWX6KNAuL._SL75_.jpg
                rel: SmallImage
          - id: B0042YK9F6
            type: Bath Pearls & Flakes
            name: Pearlcium Pearl Powder
            brand: TheraPure Health Essentials
            links:
              - href: https://alainn-customer-mobile-v1.cloudhub.io/api/items/B0042YK9F6
                rel: self
              - href: http://ecx.images-amazon.com/images/I/316RsE4g09L._SL75_.jpg
                rel: SmallImage




  GetItemResponse:
    type: Item
    properties:
      skus:
        properties:
          size: integer
          items: Sku[]
    example:
      links:
        - href: https://localhost:8082/omni-channel-api/v1.0/items/B0044D30Z6
          rel: self
      id: B0044D30Z6
      type: Chemical Hair Dyes
      name: Garnier HerbaShine Color Creme with Bamboo Extract
      brand: Garnier
      skus:
        size: 2
        items:
          - id: B003JTE8JS
            name: Garnier Herbashine Haircolor, 630 Light Golden Brown
            summary: Only 10 minutes
            price: 15.98
            sku: B003JTE8JS
            stockQuantity: 3
            links:
              - href: https://localhost:8082/omni-channel-api/v1.0/items/B003JTE8JS
                rel: self
              - href: http://ecx.images-amazon.com/images/I/517QdA0lU9L._SL75_.jpg
                rel: SmallImage
          - id: B003JTGCRE
            name: Garnier HerbaShine Color Creme, with Bamboo Extract, Dark Natural, Brown 400
            summary: Used For Hair Color
            price: 12.98
            sku: B003JTGCRE
            stockQuantity: 3
            links:
              - href: https://localhost:8082/omni-channel-api/v1.0/items/B003JTGCRE
                rel: self
              - href: http://ecx.images-amazon.com/images/I/610m3duxPEL._SL75_.jpg
                rel: SmallImage



  GetMyWishListResponse:
    type: GetItemsResponse
  PostMyWishListRequest:
    properties:
      sku: string
    example:
      sku: B004GW14E4


  GetMyBasketResponse:
    properties:
      links: ResourceLink[]
      items:
        type: array
        items:
          type: Sku
          properties:
            quantity: integer
    example:
      links:
        - href: https://localhost:8082/omni-channel-api/v1.0/items/B0044D30Z6
          rel: self
      items:
        - id: B003JTE8JS
          name: Garnier Herbashine Haircolor, 630 Light Golden Brown
          summary: Only 10 minutes
          price: 15.98
          sku: B003JTE8JS
          stockQuantity: 3
          links:
            - href: https://localhost:8082/omni-channel-api/v1.0/items/B003JTE8JS
              rel: self
            - href: http://ecx.images-amazon.com/images/I/517QdA0lU9L._SL75_.jpg
              rel: SmallImage
          quantity: 5
        - id: B003JTGCRE
          name: Garnier HerbaShine Color Creme, with Bamboo Extract, Dark Natural, Brown 400
          summary: Used For Hair Color
          price: 12.98
          sku: B003JTGCRE
          stockQuantity: 3
          links:
            - href: https://localhost:8082/omni-channel-api/v1.0/items/B003JTGCRE
              rel: self
            - href: http://ecx.images-amazon.com/images/I/610m3duxPEL._SL75_.jpg
              rel: SmallImage
          quantity: 1

  PostMyBasketRequest:
    properties:
      sku: string
      quantity: integer
      price: number
    example:
      sku: B0000530ED
      quantity: 2
      price: 10.99

  PostCheckoutRequest:
    properties:
      pickupLocation: string
      items:
        type: array
        items:
          properties:
            sku: string
            price: number
            quantity: integer
    example:
      pickupLocation: Dublin
      items:
        - sku: B003JTE8JS
          price: 10.99
          quantity: 1
        - sku: B0000530ED
          price: 5.99
          quantity: 3

  GetMyProfileResponse:
    properties:
      firstName: string
      lastName: string
      notificationPreferences:
        type: array
        items:
          type: string
          enum: [email, mobilePush, sms]
    example:
      firstName: Nial
      lastName: Darbey
      notificationPreferences:
        - sms
        - mobilePush

  GetBrandsResponse:
    properties:
      links: ResourceLink[]
      items: string[]
    example:
      links:
        - href: https://alainn-customer-mobile-v1.cloudhub.io/api/brands/dsf23
          rel: self
      items:
        - Jerome Russell
        - Now Foods

  GetCategoriesResponse:
    properties:
      links: ResourceLink[]
      items: string[]
    example:
      links:
        - href: https://alainn-customer-mobile-v1.cloudhub.io/api/categories/xx22
          rel: self
      items:
        - Soaps
        - Perfumes
resourceTypes:
  base:
    get:
      responses:
        200:
          body:
            application/json:
              type: Get<<resourcePathName | !uppercamelcase>>Response
  read-only-collection:
    type: base
    get:
      is: [tra.pageable]
  collection:
    type: read-only-collection
    post:
      body:
        type: Post<<resourcePathName | !uppercamelcase>>Request
      responses:
        201:
          description: Created!
          headers:
            Location:
              description: uri of new resource
              type: string
              required: true
  controller:
    post:
      responses:
        204:
          description: Done!
  member:
    type: base
    put?:
      body:
        type: typ.Put<<resourcePathName | !uppercamelcase>>Request
      responses:
        204:
          description: Modified
    patch?:
      body:
        type: typ.Patch<<resourcePathName | !uppercamelcase>>Request
    delete?:
      responses:
        204:
          description: Delete

/items:
  type: read-only-collection
  description: List of all items on sale
  get:
    is: [tra.searchable, tra.imageable]
  /{item}:
    type: member
    get:
      is: [tra.imageable]
/my-wish-list:
  type: collection
  post:
    description: Add an Item to my Wish List.
  /{wish}:
    delete:
      description: Remove from wish list
/my-basket:
  type: collection
  description: All items ready for purchase
  post:
    description: Add an Item to my Basket. Of course I may add more than 1 of the same Item.
  /checkout:
    type: controller
    description: Orders both pending and fulfilled
    delete:
      description: Remove from basket
/mobile-tokens/{mobileType}:
  uriParameters:
    mobileType:
      type: string
      enum: [ios, android]
  post:
    body:
      type:
        properties:
          token: string
        example:
          token: afdasfas23lkesf
/my-profile:
  type: base
/brands:
  type: read-only-collection
  get:
    queryParameters:
      name:
        type: string
        required: false
        example: Deep Steep Honey Bubble Bath
/categories:
  type: read-only-collection
  get:
    queryParameters:
      name:
        type: string
        required: false
        example: Oils
